<div class="container">
    <div class="containerContent">
        <div class="footer">email: <span class="accent textDepth"> scott@madladslab.com </span></div>
        <div class="footer">phone: 682-241-4402</div>
        <div class="footer">Gree-ality, Co</div>
        <div class="footer accent textDepth"><p>&copy; 2024 MadLad's Lab. All rights reserved.</p></div>
    <div class="footer">madLadsLab v 0.9</div>
    </div>