<div class="footer">
    <div class="containerContent">
      <div>email: <a href="mailto:scott@madladslab.com" class="accent textDepth">scott@madladslab.com</a></div>
      <div>phone: <a class="textDepth W" href="tel:+16822414402">682-241-4402</a></div>
      <div>Gree-ality, Co</div>
      <div class="accent textDepth">
        <p>&copy; 2024 MadLad's Lab. All rights reserved.</p>
      </div>
      <div>madLadsLab v 0.9</div>
      <div class="footerLinks">
        <a href="/careers" class=" textDepth W">Careers</a> |
        <a href="/privacy" class="textDepth W">Privacy</a> |
        <a href="/terms" class="textDepth W">Terms</a>
      </div>
    </div>
  </div>

  <div class="footerPopup" id="careers">
    <p class="introText fullPage">
    <strong>

        Careers at MadLad's Lab:
    </strong>

    Exciting opportunities are coming soon! We are always interested in hearing from passionate individuals with a desire for continuous growth, whether you’re a seasoned expert in the web industry, a creative powerhouse, or an Academy Award-winning filmmaker. If you have the drive to push boundaries and make an impact, we’d love to hear from you.
    
    Interested? Email us at scott@madladslab.com to start the conversation.
</p>
    <button class="closeThis">close</button>
    <span class="titleText">#getMad</span>
</div>
<div class="footerPopup" id="privacy">
    <p class="introText fullPage">
    <strong>

        Privacy Policy:
    </strong>
    
    At MadLad's Lab, your privacy is of utmost importance to us. We collect and use personal information only to provide the best possible service to our clients. We are committed to protecting your data and ensuring transparency in how it is handled. Your information will never be sold or shared with third parties without your consent, and we take all necessary precautions to safeguard it.
    
    For more information about how we manage data, feel free to contact us at scott@madladslab.com.
</p>
    <button class="closeThis">close</button>
    <span class="titleText">#getMad</span>

</div>
<div class="footerPopup" id="terms">
    <p class="introText fullPage">
    <strong>

        Terms of Service:
    </strong>
    
    By accessing and using the services provided by MadLad's Lab, you agree to comply with the following terms and conditions. Our services are designed to deliver high-quality digital solutions, and we work diligently to meet your expectations. All content, graphics, and intellectual property on this site belong to MadLad's Lab unless otherwise specified. Unauthorized use or reproduction of this material is prohibited.
    
    For any questions regarding these terms, please reach out to scott@madladslab.com.
  </p>
    <button class="closeThis">close</button>
    <span class="titleText">#getMad</span>

</div>
