
<div class="header">
    <div>
        <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 137.82 352.05">
            <defs>
                <style>
                    .cls-1{fill:#ffffff;stroke-width:2px;}
                    .cls-1,.cls-2,.cls-3{stroke:#ffffff;stroke-miterlimit:10;}
                    .cls-2{stroke-width:11px;}
                    .cls-2,.cls-3{fill:none;}
                    .cls-3{stroke-width:6px;}
                </style>
            </defs>
            <ellipse class="beaker_elipse" cx="69.01" cy="21.91" rx="32.56" ry="16.41"/>
            <path class="cls-3" d="M101.7,17.49c.61,45.37,1.48,78.96,3.64,119.09,6.04,110.5,18.43,129.28,29.3,193.7.76,5.03-.82,8.66-5.68,10.56-38.23,11.33-80.98,10.74-119.23-.59-6.79-2.29-7.55-7.28-6.13-13.64,10.86-57.57,26.82-108.5,29.85-209.82,1.43-31.51,2.22-62.78,2.7-100.53"/>
            <path class="cls-1" d="M38.2,212.96c-1.79,9.3-4.73,23.98-8.81,41.88-9.73,42.68-13.34,48.31-10.76,56.67,9.46,30.65,83.55,37.26,96.87,6.16,3.79-8.84-1.22-11.66-6.85-62.83-2.8-25.48-2.88-36.76-9.79-41.88-6.52-4.84-12.74.55-28.38,2.46-13.5,1.65-24.78-.41-32.29-2.46Z"/>
            <circle id="bubble1" class="cls-3" cx="88.82" cy="166" r="8"/>
            <circle id="bubble2" class="cls-3" cx="56.32" cy="157.5" r="16.5"/>
        </svg>
    </div>
    <div class="title  textDepth">
        <h1> < MadLad's Lab ></h1>
    </div>
</div>
