<div id="socialIconBar">
    <div class="socialIcon"><img onclick="linkTo('fb')" src="/images/socialIcons/fbLogo.png"></div>
    <div class="socialIcon"><img onclick="linkTo('ig')" src="/images/socialIcons/igLogo.png"></div>
    <div class="socialIcon"><img onclick="linkTo('tt')" src="/images/socialIcons/ttLogo.png"></div>
    <div class="socialIcon"><img onclick="linkTo('x')" src="/images/socialIcons/xLogo.png"></div>
</div>