<div class="contentScroll">
    <div class="contentBox">
        <div class="contentTitle">Drinks</div>
        <div class="contentBody">
          
            <input id="recipeSearch" type="text">
            <div id="lookupReturn"></div>
            <div class="lookupExample">
                name: long island
                type: drink
                container: collins
                rim: none
                ingedients: foreach
                garnish: foreach
                directions:
            </div>
        </div>
        </div>


 
    <div class="contentBox">
        <div class="contentTitle">NoteBook</div>
       <div>
        <select name="" id="noteYear"><option value="">year</option></select>
        <select name="" id="noteMonth"><option value="">month</option></select>
        <select name="" id="noteDate"><option value="">date</option></select>
       </div>
        <div class="contentBody">
            <P>"previousday"</P>
            <div class="addBox">+ note</div>
            <P>"nextday"</P>
        </div>

    </div>

    <div class="contentBox">
        <div class="contentTitle">Add - Edit - Delete</div>
        <div class="contentBody">
            <div class="addBox">+ recipe</div>
            <div class="addBox">+ type</div>
         <div class="addBox">+ ingredient</div>
         <div class="addBox">+ measuremnt unit</div>
         <div class="addBox">+ container</div>
        </div>

    </div>
 <!--recipe-->
 <!--type batch-->
 <!--measurment-->
 <!--container-->
 <!---->
</div>