<div class="footer">
  <a href="/signups/volunteers">Volunteers</a>
  <a href="/signups/likeness">Likeness Waiver</a>
  <a href="/signups/testimonials">Testimonials</a>
  <a href="/signups/signups">Signups</a>
</div>
<%-include('auth/index')%>
