


<!--h1 class="accent textDepth">Simmons for Greeley</h1-->

<div class="contentScroll">
      
    <div style="background-repeat: no-repeat; background-size: contain; background-image: url('./images/simmons/Simmons.png');width: 400px;" class="contentBox">
 

        </div>

    <div style="background-repeat: no-repeat; background-size: contain; background-image: url('./images/simmons/joinTheCampaign.png');width: 400px;" class="contentBox">
 
        <div class="signUpForm">

            <form action="/forms/signup1" method="post">
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="text" name="phone" placeholder="Phone Number">
                <button type="submit" class="blueButton">Join the Campaign</button>
            </form>
            <p class="textDepthFine">Join the campaign to make Greeley a better place for all of us.
            We will never share your information with anyone.
            By joining, you agree to receive updates and information about the campaign.
            You can unsubscribe at any time.
            Thank you for your support
            </p>
        </div>

        </div>

        
  


    <!--div class="contentBox">
        <div class="contentTitle">
            <h1 class="accent textDepth"></h1>
    

        </div>
        <blockquote class="reddit-embed-bq" style="height:432px" data-embed-height="432"><a href="https://www.reddit.com/r/Greeley/comments/1m7utsx/a_new_voice_for_greeley/">A new voice for Greeley</a><br> by<a href="https://www.reddit.com/user/Internal_Painting646/">u/Internal_Painting646</a> in<a href="https://www.reddit.com/r/Greeley/">Greeley</a></blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>
      
    
    </div-->
    
    <div class="contentSpacer"></div>

      
    
    </div>
    


      
      <style>
        .blueButton {
          background-color: #007bff; /* Blue color */
          color: white; /* White text */
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
          text-align: center;
          display: inline-block;
        }
      
        .blueButton:hover {
          background-color: #0056b3; /* Darker blue on hover */
        }
      </style>
      

</div>
<%-include('./footer')%>

<%-include('../auth/index.ejs')%>
</div>
