this should instead be a 

<form action="/qrs/generate" method="post">
  <input type="text" name="text" placeholder="Enter text for QR code" required>
  <select name="imgType" id="">
    <option value="svg">svg</option>
    <option value="png">png</option>
  </select>
  <button type="submit">Generate QR Code</button>
</form>