<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main"><%-include('./mainContent/mainContent.ejs')%></div>
      <%-include('./scripts/index.ejs')%>
</body>
</html>

