<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<p class="devNotice">We are currently under new development, please see one of our concepts at:</p>
<div class="mainLogo"><img class="mainLogo" src="images/acm.png"></div>

<div class="concepts">
  <div class="concept" >  <a href="https://www.thenookckmc.com"><img class="conceptLogos" src="images/nook/nook.png"></a>
  </div>
  <div class="concept" >  <a href="https://heydaycelina.com"><img class="conceptLogos" src="images/heyday/heyday_h.png"></a>
  </div>
  <div class="concept" >  <a href="https://www.graffitipasta.com"><img class="conceptLogos" src="images/gp/graffiti.png"></a>
  </div>
  
</div>
<p class="devNotice">We are under development, please see one of our concepts at:</p>