<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<div class="navButtons">
  <div class="navbutton"></div>
  <div class="navbutton"></div>
  <div class="navbutton"></div>
  <div class="navbutton"></div>
  <div class="navbutton"></div>
</div>
<div class="mainBody">
  <div class="mainDiv">
    <div class="mainLogo"><img class="mainLogo" src="images/acm.png"></div>

  </div>
  <div class="mainDiv">
  
      <div class="concept" >  <a href="https://www.thenookckmc.com"><img class="conceptLogos" src="images/nook/nook.png"></a>
      </div>

  </div>
  <div class="mainDiv">
    <div class="concept" >  <a href="https://heydaycelina.com"><img class="conceptLogos" src="images/heyday/heyday_h.png"></a>
    </div>
  </div>

  <div class="mainDiv">
    <div class="concept" >  <a href="https://www.graffitipasta.com"><img class="conceptLogos" src="images/gp/graffiti.png"></a>
    </div>
  </div>
  <div class="mainDiv"><form action=""><input type="button"></form></div>
</div>


  
 
  
</div>


<%-include('./scripts')%>