<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<div class="navButtons">
  <div class="navbutton"></div>
  <div class="navbutton"></div>
  <div class="navbutton"></div>
  <div class="navbutton"></div>
  <div class="navbutton"></div>
</div>
<div class="mainBody">
  <div class="mainDiv">
    <div class="mainLogo">
      <img class="conceptLogos" src="images/acm.png">
      <p class="infoBox">ACM – Hospitality & Restaurant Group</p>
    </div>
  </div>

  <div class="mainDiv">
    <div class="mainLogo">
      <a href="https://www.thenookckmc.com">
        <img class="conceptLogos" src="images/nook/nook.png">
      </a>
      <p class="infoBox" style="color: #66b094">Light Farms, Celina – a Cocktail Kitchen & Market Cafe for the community of Celina. </p>
    </div>
  </div>

  <div class="mainDiv">
    <div class="mainLogo">
      <a href="https://heydaycelina.com">
        <img class="conceptLogos" src="images/heyday/heyday_h.png">
      </a>
      <p class="infoBox" style="color: #bbb174">Downtown, Celina – a cocktail bar and kitchen focusing of fresh comfortable flavors with a fun twist. </p>
    </div>
  </div>

  <div class="mainDiv">
    <div class="mainLogo">
      <a href="https://www.graffitipasta.com">
        <img class="conceptLogos" src="images/gp/graffiti.png">
      </a>
      <p class="infoBox" style="color: #76c43b">Denton, TX – Tuscan Inspired with Graffitied Fusions. Think of the Pastabilities.</p>
    </div>
  </div>

<div class="mainDiv">
  <div class="mainLogo">
      <img class="conceptLogos" src="images/acm.png">
      <form action="/subscribe" method="post">
        <label for="email">Sign up for special offers:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Subscribe</button>
      </form>
    </div>
</div>
<div class="mainDiv">
  <div class="mainLogo">
    <img class="mainLogo" src="images/gp/graffiti.png">
    <p class="infoBox">For franchise inquiries, please contact us at <a href="mailto:info@acm.com">info@graffitipasta</a>.</p>
</div>

</div>



  
 
  
</div>


<%-include('./scripts')%>