<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bikelite</title>
<style>
    #flashbox {
        width: 300px;
        min-height: 150px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        transition: width 0.3s, height 0.3s;
        overflow: hidden;
        cursor: pointer;
    }
    #flashbox.expanded {
        width: 100%;
        min-height: 100vh;
        animation: flash 1s infinite alternate;
    }
    @keyframes flash {
        0% {
            background-color: #f0f0f0;
        }
        1%{
            background-color: #000;
        }
        4% {
            background-color: #fff;
        }
        7% {
            background-color: #ffa600;}
          
            100% {
            background-color: #ff0;
        }
    }
</style>

</head>
<body>
    <h1>Bikelite</h1>
    <p>Welcome to the Bikelite page!</p>

    <div id="flashbox" class="flasbox">
<h1>Tap to enter Nitelite</h1>
    </div>
    <%-include('scripts/index')%>
</body>
</html><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta property="og:title" content="madLadsLab.com" />