<% if (user) { %>
<div id="hover-chat">
  <div id="chat-bubble" title="Chat">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/>
    </svg>
    <span id="chat-badge" style="display:none;">0</span>
  </div>
  <div id="chat-panel">
    <div id="chat-header">
      <span>Chat</span>
      <span id="chat-online">0 online</span>
      <button id="chat-close">&times;</button>
    </div>
    <div id="chat-tabs">
      <button class="chat-tab active" data-tab="global">Global</button>
    </div>
    <div id="chat-messages"></div>
    <form id="chat-form">
      <input id="chat-input" type="text" placeholder="Type a message..." autocomplete="off" />
      <button type="submit">Send</button>
      <button type="button" id="chat-voice" title="Join Voice">
        <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"/>
          <path d="M19 10v2a7 7 0 0 1-14 0v-2"/>
          <line x1="12" y1="19" x2="12" y2="23"/>
          <line x1="8" y1="23" x2="16" y2="23"/>
        </svg>
      </button>
    </form>
  </div>
</div>
<script src="/js/chat.js"></script>
<% } %>
