@import "variables.scss";

.accent{
    color:$mainAccent
}
.textDepth{
    text-shadow: 1px 1px 1px black;
 
}
.textDepthFine{
    text-shadow: 1px 1px 1px $mainShadow;
    font-size: .6rem;
}
.fullPage{
    margin: 25%;
}
.W{
    color:$mainColor;
   // text-shadow: 1px 1px 1px white;
}
.titleText{
    font-size: 3rem;
    text-shadow: 3px 3px 1px $mainColor;
    font-weight: 900;
}
.contrast{
    color:black;
    text-shadow: 0px 0px 40px $mainColor;

}
.portrait{
    width: 48%;
    margin: 8% 23% ;
}
.signUpForm{
    width:78%;
    margin: 38% 4%;
    padding: 2%;
    //background-color: $mainShadow;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px $mainShadow;
    input{
        width: 98%;
        height: 30px;
        margin: 1%;
    }
}