@import "variables.scss";
/* WebKit Scrollbar Styles */
::-webkit-scrollbar {
    width: 2px;
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $mainAccent;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #e0e0e0;
  }
  body{
  /* Firefox Scrollbar Styles */
  scrollbar-color: $mainAccent rgb(110,25,25); /* thumb color | track color */
  scrollbar-width: thin;
  }