$secondary-accent:rgb(240,132,117);
$mainColor:rgb(157,115,67);
//#9d7343 in rgb(157,115,67)
//#04113b in rgb(4,17,59)
//#e1d9c7 in rgb(225,217,199)
//#6e1919 in rgb(110,25,25)
//#f08475 in rgb(240,132,117)
$secondShadow: rgb(110,25,25);
$mainAccent:rgb(4,17,59);
$mainShadow:rgb(225,217,199);

$svgSizingWebApp: 40%;
$svgSizingReel: 40%;
$svgSizingFilm: 40%;