$secondary-accent:purple;
$mainColor:rgb(80,53,150);
$mainShadow:rgb(0,128,128);
$mainAccent:rgb(255, 255, 255);
$secondShadow:rgb(128, 0, 128);

$svgSizingWebApp: 40%;
$svgSizingReel: 40%;
$svgSizingFilm: 40%;