<html>
<head>
    <link rel="icon" type="image/png" href="/images/beaker_logo_no_stash.png">
    <meta name="facebook-domain-verification" content="834yvsr0tr68eevl291uhwkt4nsd1c" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta property="og:title" content="madLadsLab.com" />

<meta property="og:description" content="Web Applications, Video, Email, IT" />
<meta property="og:image" content="https://madladslab.com/images/madTitle.jpg" />
<meta property="og:url" content="https://madladslab.com" />
<meta property="og:type" content="website" />
</head>
<body>
    <div class="main">
        <h1>Testimonials</h1>
        <div class="contentScroll">
1
2
3

    </div>
    </div>
    <%-include('../scripts/index.ejs')%>

</body>
</html>


</body>
</html>

