<h1>Some News Article</h1>
<div class="info">
  
</div>
<%=headlines%>
</div>
<ul>
  <% (headlines || []).forEach(h => { %>
    <li><%= h %></li>
  <% }) %>
</ul>


<div class="article"><h1>art4</h1>
    <img src="" alt="img4">
</div>

<% if (typeof user === 'object' && user) { %>
    <a href="/logout">🔓</a>
    <% if (user.isAdmin) { %>
        <a href="/admin">admin</a>
    <% } %>
<% }else{ %>
<a href="/auth/google">🔒</a>
<%}%>
