@import "variables.scss";

.accent{
    color:$mainAccent
}
.textDepth{
    text-shadow: 1px 1px 1px black;
 
}
.fullPage{
    margin: 25%;
}
.W{
    color:$mainColor;
   // text-shadow: 1px 1px 1px white;
}
.titleText{
    font-size: 3rem;
    text-shadow: 3px 3px 1px $mainColor;
    font-weight: 900;
}
.contrast{
    color:black;
    text-shadow: 0px 0px 40px $mainColor;

}
.portrait{
    width: 48%;
    margin: 8% 23% ;
}
#modelSelect{
width: 80%;
option{
 font-size: .8rem;
}

}
.selectBox{
   
   // height:70px;
   text-align: center;
   font-size: 1.1rem;
    font-weight:900;
    label{
        font-size: .8rem;
    }
    input{
        border: 1px solid $mainColor;
        padding: 5px;
        font-size: 1rem;
        border-radius: 4px;
        margin:2%;
    }
    button{
        background-color: $secondary-accent;
        color: white;
        border: none;
        padding:5% 20%  ;
        margin:2%;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            background-color: darken($mainColor, 10%);
        }
    }
}