@import "variables.scss";

.accent{
    color:$mainAccent
}
.textDepth{
    text-shadow: 1px 1px 1px black;
}
.W{
    color:rgb(150, 210, 242);
   // text-shadow: 1px 1px 1px white;
}
.footerPopup{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    //margin: 10%;
    background-color: white;
    color:black;
    background-image: url('../images/beaker_logo_no_stach.png');
    transition: opacity 1.2s ease-out;

}