@import "variables.scss";

.accent{
    color:$mainAccent
}
.textDepth{
    text-shadow: 1px 1px 1px black;
}
.W{
    color:$mainColor;
   // text-shadow: 1px 1px 1px white;
}
.titleText{
    font-size: 3rem;
    text-shadow: 3px 3px 1px $mainColor;
    font-weight: 900;
}
.contrast{
    color:black;
    text-shadow: 0px 0px 40px $mainColor;

}
.portrait{
    width: 48%;
    margin: 8% 23% ;
}