@import "variables.scss";



@import "svgs.scss";
@import "scrollBars.scss";
@import "quickClasses.scss";
@font-face {
    font-family: 'sgReg';
    src: url('../fonts/spaceGrotesque/SpaceGrotesk-Regular.ttf');
}



:root{
    padding: 1%;
    text-align: center;
    h1{font-size: 1.3rem;}
    h2{font-size: 1.2rem;}
    h3{font-size: 1rem;}
    h4{font-size: .9rem;}
    p{font-size: .9rem;}
}
:root{
    @media (min-width:768px) {
        padding: 1%;
        text-align: center;
        h1{font-size: 2.5rem;}
        h2{font-size: 2rem;}
        h3{font-size: 1.8rem;}
        h4{font-size: 1.9rem;}
        p{font-size: 1rem;}
    }
}
li{}
/* Body and background styling */
body {
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, rgb(0, 95, 104) 1%, rgb(108, 196, 176) 20%, rgb(0, 59, 62) 130%);
    color: white;
    font-family: 'sgReg';
}
.footer{
    border:solid 2px $mainAccent;
    padding: 2%;
    margin: 1%;;
    background:rgb(2, 76, 57);
}

.contentBox {
    text-align: center;
   // height: 500px;
    border: 3px dashed white;
    border-radius: 5px;
    padding: 10px;
    font-family: 'sgReg';
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background for contrast */
  //  min-width: 80%; /* Adjust width of the content box */
    scroll-snap-align: start;
    flex-shrink: 0;
    margin-right: 10px;
    max-width: 80%;

    @media (min-width:768px) {
        max-width: 40%;
    }
}
.contentScroll:first-child{
    @media(min-width:768px){
    margin-left:25%;
}
}

/* ContentTitle styling */
.contentTitle {
   display: grid;
   grid-template-columns: 5fr 2fr;
   @media (min-width:768px) {
font-size: 1rem;
}
}

/* Header styling */
.header {
    background-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    position: relative;
    overflow: hidden;
}

/* Title styling with animation */
.header h1 {
    color: #fff;
    font-family: 'sgReg';

    animation: titleShift 5s ease-in-out infinite;
}

/* Centering and styling the SVG */
.header svg {
    width: 50px;
    height: auto;
    fill: #ffffff;
    animation: svgShift 5s ease-in-out infinite;
}

/* Keyframes for color shift and subtle size change */
@keyframes svgShift {
    0% {
        fill: #ffffff;
    }
    50% {
        fill: #c8fff4;
    }
    100% {
        fill: #ffffff;
    }
}

@keyframes titleShift {
    0% {
        color: #ffffff;
    }
    50% {
        color: #c8fff4;
    }
    100% {
        color: #ffffff;
    }
}

/* Container for swiping content */
.contentScroll {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width:auto;
    -ms-overflow-style: none;
    padding: 20px 0;
    margin: 20px 0;
}
.introVideo{
    width:80%;
    margin-left: 10%;
    @media (min-width:768px) {
width: 40%;
margin-left: 30%;
}
}

.contentBox {
    // max-width: 80%; /* Adjust as needed to control how much of the content shows */
    // scroll-snap-align: start;
    // flex-shrink: 0;
    // @media (min-width:768px){
    //     min-width:50%;
    //     margin-right: 10px;
       
    // }
}
/* Example keyframe animation for SVG bounce effect */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
