@import 'variables.scss';

/* Set a consistent size for all SVGs using variables */


/* Base styles for SVG elements */
.cls-1 {
    fill: #ffffff;
    stroke-width: 2px;
}

.cls-1, .cls-2, .cls-3 {
    stroke: #ffffff;
    stroke-miterlimit: 10;
}
.beaker_elipse{
    stroke: #ffffff;  /* White stroke color */
    stroke-width: 11px;
    fill: none;
}
.cls-2 {
    stroke: #ffffff;  /* White stroke color */
    stroke-width: 2px;
    fill: none;
}

.cls-3 {
    stroke: #ffffff;
    stroke-width: 2px;
    fill: none;
}

/* Animation for reelsSVG */
#reelsSVG {
    animation: bounce 2s infinite;
}

/* Consistent size and styling for SVGs */
#reelsSVG, #editingSVG {
    width: $svgSizing;
    height: $svgSizing;
    display: block;
    margin: 0 auto;
    fill: #fff;
}

/* Alternative size for webAppSVG */
#webAppSVG {
    width: $svgSizingAlt;
    height: $svgSizingAlt;
    display: block;
    margin: 0 auto;
    fill: #fff;
}

/* Hover effects */
#reelsSVG:hover, #editingSVG:hover, #webAppSVG:hover {
    transform: scale(1.05);
}

/* Optional: Define the animation for bounce */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
