$secondary-accent:purple;
$mainColor:rgb(150,255,231);
$mainShadow:rgb(0,128,128);
$mainAccent:rgb(255, 208, 0);
$secondShadow:rgb(128, 0, 128);

$svgSizingWebApp: 40%;
$svgSizingReel: 40%;
$svgSizingFilm: 40%;