<h6>Add New</h6>
<br>
<select name="model" id="model-select">
  <option value="">Select a Model</option>
  <% models.forEach(model => { %>
    <option value="<%= model %>"><%= model %></option>
  <% }) %> 
</select>
<button id="addModelWindow">Add</button>
<div id="statusAndError"></div>
<div id="addModel"></div>