body{
    text-align: center;
}
.devNotice{
    width:100%;
    background-color: black;
    color:white
}
.mainLogo{
    width: 80%;
   // margin-left: 10%;
    @media (min-width:768px){
        width:60%;
      //  margin-left: 15%;

   
  display:grid;
  grid-template-columns: 1fr 1fr ;
    
}
}
.conceptLogos{
    width: 100%;
    height: auto;
    margin: auto;
    @media (min-width:768px) {
        width: 90%;
        
    }
}
.concepts{
    // display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (min-width:768px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        width:60%;
        margin-left: 20%;
        
        
    }
}
.concept{
    margin: 5px;
 

}
.mainBody {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  .mainDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    width: 100%;

  }
  
  
.navButtons{position: fixed;right: 4%;top:40%;width:6px;}
.navButton{border-radius: 50%; height: 15px;width:15px;background-color: white; border:1px solid black;margin-top: 12px;}


.infoBox{
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    @media screen and (min-width: 768px) {
        font-size: 1em;
        padding: 20%;
        
    }
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
label {
    margin-bottom: 10px;
    font-weight: bold;
}
input{margin:4%}
input[type="text"] {
    height: 25px;
    padding: 8px;
    font-size: 1.8rem;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #66b094;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #559f7a;     
}                 