body{
    text-align: center;
}
.devNotice{
    width:100%;
    background-color: black;
    color:white
}
.mainLogo{
    width: 80%;
    margin-left: 10%;
    @media (min-width:768px){
        width:60%;
        margin-left: 15%;

    }
}
.conceptLogos{
    width: 100%;
    height: auto;
    margin: auto;
}
.concepts{
    // display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (min-width:768px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        width:60%;
        margin-left: 20%;
        
        
    }
}
.concept{
    margin: 5px;
 

}