<html>
    <head>
       <link rel="icon" type="image/png" href="/images/beaker_logo_no_stash.png">
    <meta name="facebook-domain-verification" content="834yvsr0tr68eevl291uhwkt4nsd1c" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta property="og:title" content="madLadsLab.com" />

<meta property="og:description" content="Web Applications, Video, Email, IT" />
<meta property="og:image" content="https://madladslab.com/images/madTitle.jpg" />
<meta property="og:url" content="https://madladslab.com" />
<meta property="og:type" content="website" />
    </head>
<!-- views/partials/offers/claimForm.ejs -->
<body>
    <div class="main">
        <div class="contentScroll">
            <div class="contentBox scroll">
                <div class="scroll">
<h1>Invite Confirmed</h1>
<p>Thank you for confirming your invite!</p>
<% if (invite) { %>
  <p>Invite for: <%= invite.email %></p>
  <p>Status: <%= invite.inviteStatus %></p>
<% } %>



                </div>
            </div>
        </div>
    </div>
</body>




</html>