<footer class="site-footer">
  <div class="footer-inner">
    <p>&copy; <%= new Date().getFullYear() %> <%= siteName %> &mdash; Branson, MO &amp; Surrounding Areas</p>
    <p>Mobile RV &amp; Motorhome Repair | Roof Repair Services</p>
  </div>
</footer>
