<header>
  <nav class="navbar">
    <div class="nav-brand">
      <a href="/">Stringborn Universe</a>
    </div>
    <ul class="nav-links">
      <li><a href="/zones">Zones</a></li>
      <li><a href="/universe/species">Species</a></li>
      <% if (user) { %>
        <li><a href="/characters">My Characters</a></li>
        <li><a href="/universe/galactic-state">Galactic State</a></li>
        <li class="user-menu">
          <span>Welcome, <%= user.username %></span>
          <button onclick="logout()" class="btn btn-small">Logout</button>
        </li>
      <% } else { %>
        <li><a href="/auth" class="btn btn-small">Login</a></li>
      <% } %>
    </ul>
  </nav>
</header>
